/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7eff6;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #0a529b;
}

.weather-info {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
